[Desktop Entry]
Version=1.0
Name=Superhuman
Comment=Superhuman
Exec=omarchy-launch-webapp https://mail.superhuman.com/
Terminal=false
Type=Application
Icon=/home/drucial/.local/share/applications/icons/Superhuman.png
StartupNotify=true
